*{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:black;
    color: white;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

ul li{
    list-style-type: none;
    margin: 20px;
}

ul li a{
    text-decoration: none;
    color: white;
}