*{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#769fcd;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.logo a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 500;

}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

ul li{
    list-style-type: none;
    margin: 20px;
    font-size: 17px;
}

ul li a{
    text-decoration: none;
    color: white;
}